$mobile: 576px;
$tablet: 768px;
$desktop: 900px;

@mixin mobile {
  @media only screen and (max-width: $mobile) {
    .section2{
     flex-direction: row;
    };
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: $desktop) {
    @content;
  }
}
