.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 20px;
    background-color: $secondaryColor;
  
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 200px;
      margin: 20px;
      border-radius: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  
      &--item1 {
        background-image: url(../images/proyectos.jpg);
      }
  
      &--item2 {
        background-image: url(../images/portafolio.jpg);
      }
  
      &--item3 {
        background-image: url(../images/voluntariado.jpg);
      }
    }
  
    &__title {
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      background-color: rgba(170, 164, 164, 0.5);
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
    }
  }
  