.section2 {
    background-color: white;
  
    @include flexCenter(column, center, center);
  }
///rotar 
.flip-container {
    // background-color: red;
    margin-top: 10rem;
    width: 300px;
    height: 450px;
    perspective: 1000px;
    margin:0 auto;

    .card {
      
      margin: 20px;
      // position: relative;
      display:inline-block;
      width: 80%;
      height: 80%;
      text-align: center;
      transform-style: preserve-3d;
      // margin: 30px 30px 30px 30px;
      transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
    }

    .card-title {
      line-height: 200px; //Damos 200px de alto para notar el efecto
  }

    .card h3, .card p {
      display:block;
      h5 span { display: block; }
    }
      
    
    .title{
      color:red;
    }
    /* GIRA HORIZONTAL */
    .flip-container:hover .card {
      transform: rotateY(180deg);
    }
    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }
    
    .front {
       background-image:url(/images/github.png);
      background-color: $secondaryColor;
      color: #fff;
      display: flex;
    }
    
    .back {
      background-color: $light;
      color: $secondaryColor;
      /*transform: rotateX(180deg);*/
      transform: rotateY(180deg);
      text-align:center;
    }
    
    .back p {
      font-size:0.50em;
    }
    
  }
  
  
  
 