.section-container {
    max-width: 100vw;
    min-height: 100vh;
  }
  
  .section1 {
    background-color: $secondaryColor;
    color: $light;
  
    @include flexCenter(row, center, space-evenly);
    @include desktop {
      flex-direction: column;
    }
  
    p {
      font-size: $textSize;
      font-weight: 300;
      text-align: center;
    }
  }
  
  h1 {
    font-size: $titleSize;
    font-weight: 700;
  
    .myName {
      color: $thirdColor;
    }
  }
  
  .profile-img {
    width: 300px;
    border-radius: 45%;
    border: solid 10px $light;

    &:hover{
        transform: rotate(-12deg);
        transition-duration: 1s;
      }
  }
 
  
  .text-container {
    @include desktop {
      text-align: center;
    }
  }
  