.section2 {
    background-color: white;
  
    @include flexCenter(column, center, center);
  }
///rotar 
.flip-container {
    // background-color: red;
    margin-top: 10rem;
    width: 800px;
    height: 350px;
    perspective: 1000px;
    margin:0 auto;
  }
  
  .card {
    // background-image:url("/images/portafolio.jpg");
    margin: 10px 10px 10px 10px;
    position: relative;

    // align-items: center;
    display:inline-block;
    width: 40rem;
    height: 20rem;
    text-align: center;
    transform-style: preserve-3d;
    // margin: 30px 30px 30px 30px;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
  
  .card h3, .card p {
    display:block;
  }
  .title{
    color:red;
  }
  /* GIRA HORIZONTAL */
  .flip-container:hover .card {
    transform: rotateY(180deg);
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  
  .front {
    background-color: $secondaryColor;
    color: #fff;
    display: flex;
  }
  
  .back {
    background-color: $light;
    color: $secondaryColor;
    /*transform: rotateX(180deg);*/
    transform: rotateY(180deg);
    text-align:center;
  }
  
  .back p {
    font-size:0.50em;
  }
  