// utilities
@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/responsive";

// block
@import "./block/navbar";
@import "./block/section1";
@import "./block/section2";
@import "./block/gallery";

// global

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
